* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

form input,
.add-btn {
  margin: 0.7rem;
  padding: 0.2rem;
}

.add-btn {
  background-color: green;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem;
  cursor: pointer;
}

.book-item-wrapper {
  border: 2px solid black;
  width: 70%;
  padding: 1rem;
}

.book-item-wrapper article:nth-child(odd) {
  background-color: #c4c4c4;
}

article {
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
}

h1 {
  font-size: 3rem;
}

p {
  margin-bottom: 0.5rem;
}

.book-item {
  display: flex;
  justify-content: space-between;
}

.item-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  width: 90%;
}

.remove-btn {
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem;
  cursor: pointer;
}